html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  color: #ffffff;
  background-color: grey;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 2px solid red;
}

.main-header {
  margin-bottom: 60px;
  outline: 2px solid red;
}

.text_logo {
  float: left;

}

.main-navigation {
  float: left;
  width: 650px;

  min-height: 70px;
  outline: 2px solid red;
}

.user-block {
  float: right;
  width: 140px;

  min-height: 70px;
  outline: 2px solid red;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;

  outline: 2px solid red;
}

.features {
  margin-bottom: 80px;

  outline: 2px solid red;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  min-height: 175px;
  outline: 2px solid red;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;

  min-height: 330px;
  outline: 2px solid red;
}

.index-content-right {
  float: right;
  width: 300px;

  min-height: 330px;

  outline: 2px solid red;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  outline: 2px solid red;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;

  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;

  min-height: 90px;
}

.product_shots {
  float: left;
  width: 600px;

  outline: 2px solid red;
}

.pres {
  display: inline-block;

  outline: 2px solid red;
}

.art {
  display: inline-block;
  float: right;

  outline: 2px solid red;
}

.price {
    display: inline-block;

    outline: 2px solid red;
}

.buy {
  display: inline-block;
  float: right;

  outline: 2px solid red;
}

.sign {
  margin-right: auto;
  margin-left: auto;

  outline: 2px solid red;
}

.contain-price {

}

.list {
  float: left;

  outline: 2px solid red;
}

.price-list {
  float: right;
  width: 450px;

  outline: 2px solid red;
}

.text-left {
  float: left;
  width: 400px;

  outline: 2px solid red;
}

.text-rght {
  float: right;
  width: 450px;

  outline: 2px solid red;
}

.select {
  float: left;
  width: 220px;
}

.producers {
  float: left;
}

.product_groups {
  float: left;
}

.product {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product:nth-child(3),
.product:nth-child(6) {
  float: right;;
  margin-left: 0px;
}

.pages {
  clear: both;
  margin-left: 240px;
}

h1 {or: #ffffff;
    background-color: grey;
  }

h1 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
